.map {
  height: 585px;
  float: left;
}
.tag {
  width: 100%;
  margin-bottom: 5px;
  opacity: 0.8;
}
.side {
  position: relative;
  width: 250px;
  height: 585px;
  float: right;
}
.row-input {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 5px;

  .icon {
    margin-right: 11px;
  }
}

.form-submit {
  position: absolute;
  bottom: 0;
  width: 100%;
}